<header>
  <div id="navbar">
    <div>
      <a href="home.php" id="nav_link"><img src="Resources/shortlogo.png" alt="Main Logo" id="Nav_Logo" /></a>
    </div>
    <div id="navbar_TD"><a href="drive.php" id="nav_link">Drive</a></div>
    <div id="navbar_TD"><a href="ride.php" id="nav_link">Ride</a></div>
    <div id="navbar_TD">
      <a href="aboutUs.php" id="nav_link">About Us</a>
    </div>
    <div id="navbar_TD" style="width: 80%; text-align: right">
      <a href="signIn.php" id="nav_link">Sign In</a>
    </div>
    <div id="navbar_TD">
      <a href="signUp.php" id="nav_link">
        <button id="signup_btn">Signup</button></a>
    </div>

  </div>
  </nav>
</header>