<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auto Image Slideshow</title>
  <!-- Link CSS -->
  <link rel="stylesheet" href="style.css">
</head>
<body>

<!-- <h2 style="text-align:center">Auto Image Slideshow</h2> -->

<div class="slideshow-container">

  <div class="mySlides fade">
    <img src="Resources/images.jpg" alt="Image 1">
    <div class="text">Caption One</div>
  </div>

  <div class="mySlides fade">
    <img src="Resources/images (1).jpg" alt="Image 2">
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <img src="Resources/images (2).jpg" alt="Image 3">
    <div class="text">Caption Three</div>
  </div>

    <div class="mySlides fade">
    <img src="Resources/images (3).jpg" alt="Image 4">
    <div class="text">Caption Four</div>
  </div>

</div>

<div class="dot-container">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<!-- Link JS -->
<script src="slideShow.js"></script>
</body>
</html>
